.progressBarContainer {
  height: 35px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid white;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.progressBar {
  background-color: rgb(214, 78, 78);
  height: 4px;
  width: 100%;
}
