.progressBarContainer {
  height: 35px;
  border: 1px solid #007acc;
  background-color: #242424;
  border-radius: 10px;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  overflow: hidden;
  opacity: 0;

  width: auto;
  left: 4rem;
  right: 4rem;
  box-sizing: content-box;
}

.progressBar {
  position: relative;
  height: 20%;
  border-radius: 2px;
  background-color: #007acc;
}

@media (min-width: 1024px) {
  .progressBarContainer {
    width: 350px;
    bottom: 4rem;
    right: right;
    left: revert;
  }
}
