.appWrapper {
  width: 100vw;
  border: 1px solid yellow;
  box-sizing: border-box;
  padding: 4rem 2rem;
}

.canvasWrapper {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  // z-index: -1;
}

.filler {
  height: 8000px;
  width: 100%;
  box-sizing: border-box;
}

.innerContainer {
  height: 100%;
  width: 100%;
  // background-color: rgba(255, 0, 0, 0.266);
}
