.scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.progressBarContainer {
  width: 350px;
  height: 35px;
  border: 1px solid #007acc;
  background-color: #242424;
  border-radius: 10px;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
}

.progressBar {
  position: relative;
  height: 20%;
  border-radius: 2px;
  background-color: #007acc;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.boxContainer {
  background:
    repeating-linear-gradient(90deg, #242424 0px, #242424 100px, oklch(0 0 0 / 0%) 100px, oklch(0 0 0 / 0%) 200px),
    repeating-linear-gradient(
      45deg,
      oklch(56.704% 0.15462 248.535 / 30%),
      oklch(56.704% 0.15462 248.535 / 30%) 2px,
      #242424 2px,
      #242424 8px
    );
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 150px;
  width: 100%;
}

.flexContainer .box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  background-color: #007acc;
}

.flexContainer.toggle {
  flex-direction: column;
}

.flexContainer.toggle .box {
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  background-color: #007acc;
}
