// .ready {
//   background-color: white;
// }
.canvasWrapper {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  // border: 5px solid red;
  box-sizing: border-box;
  // background-color: white;
  z-index: -1;
}
