.appWrapper {
  width: 100%;
  border: 1px solid yellow;
  box-sizing: border-box;
}

.canvasWrapper {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  // border: 5px solid red;
  box-sizing: border-box;
  // background-color: white;
  z-index: -1;
}

.filler {
  height: 8000px;
  width: 100%;
  box-sizing: border-box;
}
