.scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // border: 2px solid red;
}

.canvasWrapper {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: -1;
}
